{{- /*gotype: github.com/codingbeard/cbweb.TypehintingViewModel*/ -}}
{{ define "-global-/cbwebcommon/flash.gohtml" }}
    {{ if .GetMasterViewModel.Flash.HasMessages "default" }}
      <div class="flash-messages">
          {{ range .GetMasterViewModel.Flash.GetMessages "default" }}
            <div class="chip {{ .Type }}">
                {{ .Message }}
              <i class="close material-icons">close</i>
            </div>
          {{ end }}
      </div>
    {{ end }}
{{ end }}